@import "tailwindcss";
@import 'tui-image-editor/dist/tui-image-editor.css';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Chillax';
  font-style: normal;
  font-weight: 400;
  src: url('./font/Chillax-Variable.ttf') format('truetype');
}

.tui-image-editor-header-logo {
  display: none !important;
}

.tui-image-editor-header .tui-image-editor-download-btn {
  display: none !important;
  justify-content: center !important;
}

.tui-image-editor-help-menu {
  display: none !important;
}

@theme {
  --font-title: 'Chillax', sans-serif;
  --font-text: 'Merriweather', sans-serif;
  
  /* White mode */
  --color-primary: #744FAC; /* Violet */
  --color-secondary: #000000; /* Noir */
  --color-tertiary: #FFFFFF; /* Blanc */

  /* Dark mode */
  --color-dprimary: #744FAC; /* Violet */
  --color-dsecondary: #FF8904; /* Orange */
  --color-dtertiary: #F8E9E9; /* White */

  --color-myblack: #000000;
}