@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Chillax';
  font-style: normal;
  font-weight: 400;
  src: url('./font/Chillax-Variable.ttf') format('truetype');
}

@theme {
  --font-title: 'Chillax', sans-serif;
  --font-text: 'Merriweather', sans-serif;
  
  /* White mode */
  --color-primary: #F8E9E9;
  --color-secondary: #FF8904;
  --color-tertiary: #744FAC;

  /* Dark mode */
  --color-dprimary: #744FAC;
  --color-dsecondary: #FF8904;
  --color-dtertiary: #F8E9E9;

  --color-myblack: #000000;
}